<table>
  <thead>
    <th>Vorhaben</th>
    <th>Status</th>
    <th>zuletzt überprüft</th>
  </thead>
  <tbody>
{% for statement in include.statements %}
<tr id="{{ statement.id }}">
  <td class="allow-wrap">
    {{ statement.summary }}
    <small>
      <a class="back-ref" href="{{site.baseurl}}{{chapter.url}}#ref-{{ statement.id }}" title="Stelle im Text">
        📃
        <span class="sr-only">Stelle im Text</span>
      </a>
    </small>
  </td>
  <td>
    {% include status.html statement=statement %} 
  </td>
  <td>{% if statement.last_update %}{{ statement.last_update | date: "%d.%m.%Y" }}{% else %}-{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
